.Background {
    width: 650px;
    height: 700px;
    background-color: orangered;
    margin: auto;
    position: relative;
}

.Nav {
    width: 650px;
    height: 50px;
    background-color: black;
    position: absolute;
    top:0%;
    left:0%;
}

.logo {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
    top: 15px;
    background-image: url(../blank\ web\ template/images/logogo.jpg);
    background-size: cover;
}

.navtitle {
    color: white;
    position: relative;
    left: 5%;
    top: 40%;
}

.Home {
    width: 100px;
    height: 30px;
    position: relative;
    left: 32%;
    top: 0px;
    background-color: black;
    border-color: white;
    border: 5px;
    
}


.Ho {
    color: white;
    position: relative;
    left: 30%;
    top: 18%;
}

.Episode {
    width: 100px;
    height: 30px;
    position: relative;
    left: 50%;
    top: -30px;
    background-color: black;
    border-color: white;
    border: 5px;
}

.Epi {
    color: white;
    position: relative;
    left: 20%;
    top: 18%;
}

.Show {
    width: 100px;
    height: 30px;
    position: relative;
    left: 70%;
    top: -60px;
    background-color: black;
    border-color: white;
    border: 5px;
}

.Sho {
    color: white;
    position: relative;
    left: 30%;
    top: 18%;
}

.title {
    color: black;
    font-size: 40px;
    position: absolute;
    left: 200px;
    top: 100px;
}

.minneshow {
    width: 650px;
    height: 70px;
    background-color: black;
    position: absolute;
    top: 200px;
}

.learnm1{
    width: 70px;
    height: 35px;
    background-color: white;
    position: relative;
    top: 2px;
    left: 570px;
}

.l1 {
    font-size: 13px;
    position: relative;
    font-weight: bold;
    left:3px;
    top: 25%;
}

.mnshow {
    color: white;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 4px;
}

.chicshow {
    width: 650px;
    height: 70px;
    background-color: black;
    position: absolute;
    top: 200px;
}

.learnm2{
    width: 70px;
    height: 35px;
    background-color: white;
    position: relative;
    top: 2px;
    left: 570px;
}

.l2 {
    font-size: 13px;
    position: relative;
    font-weight: bold;
    left:3px;
    top: 25%;
}

.chshow {
    color: white;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 4px;
}



a {
    text-decoration: none;
}